[Unit]

Description=Run mybatop during power on

[Service]

ExecStart=/opt/mybatop/scripts/inserts/insert_active.sh

[Install]

WantedBy = multi-user.target
