[Unit]
Description=Run mybatop script during shutdown
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/opt/mybatop/insert2.sh

[Install]
WantedBy=multi-user.target
