name: Publish to Fedora and OpenSUSE (Fedora COPR)

on:
  push:
    branches:
      - main
      - dev

jobs:
  fedora-publish:
    env:
      VERSION: 1.0.1
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: List directories and files
        run: |
          ls build/

      - name: Update mybatop.spec Version
        run: |
          specs=$(cat build/mybatop.spec)
          eval "echo \"$specs\"" > ~/rpmbuild/SPECS/mybatop.spec


      - name: Install  COPR CLI
        run: |
          dnf upgrade -y
          dnf install -y copr-cli rpmdevtools rpmlint rpm-build

      - name: Configure COPR
        env:
          COPR_CONFIG: ${{ secrets.COPR_CONFIG }}
        run: |
          mkdir -p ~/.config/
          echo "$COPR_CONFIG" > ~/.config/copr
          chmod 600 ~/.config/copr

      - name: Create Source Tarball
        run: |
          tar -czf mybatop-${VERSION}.tar.gz src/mybatop/*

      - name: Set up for build
        run: |
          mkdir -p ~/rpmbuild/{SOURCES,SPECS,BUILD,RPMS,SPRMS}
          pwd
          ls
          mv mybatop-${VERSION}.tar.gz ~/rpmbuild/SOURCES
          cp build/mybatop.spec ~/rpmbuild/SPECS/mybatop.spec

      - name: Build for getting source files
        run: |
          cd ~
          rpmbuild -ba rpmbuild/SPECS/mybatop.spec
      
      - name: build Fedora Package
        run: |
          copr-cli build ~/rpmbuild/SRPMS/mybatop-${VERSION}.src.rpm

      

